.role-card {
    display: flex;
    flex-direction: column;
    background: gray;
    border-radius: 16px;
    color: white;
    text-align: center;
    min-height: 310px;
}

.role-card:hover {
    cursor: pointer;
}

.role-card-avtar {
    width: 100%;
    height: auto;
    max-width: 160px;
    border-radius: 4px;
}