.basics-info-card {
    border-radius: 16px;
    border-color: gainsboro;
    height: 250px;
}

.introduction-card {
    border-radius: 16px;
    border-color: gainsboro;
    height: 250px;
}

.ability-card {
    border-radius: 16px;
    border-color: gainsboro;
    height: 250px;
}

.skill-card {
    border-radius: 16px;
    border-color: gainsboro;
}